@tailwind base;
@tailwind components;
@tailwind utilities;

#GoBackButton {
  transition: .2s;
  cursor: pointer;
}

#GoBackButton:hover {
  color: black;
  transform: translate(-0.5rem, -0.5rem);
  background: #ff90e8;
  box-shadow: 0.25rem 0.25rem #000;
}

/* when button pressed */
#GoBackButton:active{
    transform:translate(0) ;
    box-shadow: none;
}

.underline_higlight{
    background-image: url(/public/svg/underline.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom 1%;
}




.highlight{
    background-image: url(../public/svg/yellow_highlight.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: nowrap;
}


/* .ball { 
            width: 100px; 
            height: 100px; 
            border-radius: 50%; 
            background-color: #FF5722; 
            animation: bounce 0.5s; 
            animation-direction: alternate; 
            animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
            animation-iteration-count: infinite; 
        } 
          
        @keyframes bounce { 
            from { 
                transform: translate3d(0, 0, 0); 
            } 
            to { 
                transform: translate3d(0, 200px, 0); 
            } 
        }  */
